body {
  color: white;
}
img, video {
    display: block;
    margin: 0 auto;
    display: felx;
}

p{
  text-align: center;
  color: white;
}

.plumbing{
  text-align: center;
}

.cat {
  text-align: center;
}
  
nav {
  background: #222;
  text-align: right;
  padding: 1rem;
  margin-bottom: 20px;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 30px;
  padding: 0;
  margin: 0;
}
